
<div
	class="prose max-w-none dark:prose-invert prose-sm md:prose-base lg:prose-lg prose-a:hover:no-underline prose-h1:[font-size:1.6em] md:prose-h1:[font-size:1.9em] lg:prose-h1:[font-size:2.1em] prose-h2:[font-size:1.35em] md:prose-h2:[font-size:1.5em] lg:prose-h2:[font-size:1.65em] prose-inline-code:before:content-[''] prose-inline-code:after:content-[''] prose-inline-code:font-normal prose-inline-code:bg-(--color-ic-bg) prose-inline-code:rounded prose-inline-code:px-1.5 prose-inline-code:py-0.5 prose-inline-code:border-(length:--ec-brdWd) prose-inline-code:border-(--color-ic-border) prose-img:rounded-lg"
>
	<slot />
</div>
